.listingPageContainer {
  max-width: 100%;
  background: #f3eedc;
}

.listingPageCol {
  margin-left: 2%;
}

.mapImage {
  height: 50%;
}
.propertiesImages {
  max-height: 100%;
  max-width: 100%;
  padding: 0;
  align-items: center;
}
.propertyInformation {
  margin-bottom: 3%;
  border-bottom: 4px solid #cddde5;
}
.propertyImageCol {
  padding: 0;
}
.propertyCharacteristics {
  margin-left: 2%;
  margin-bottom: 3%;
  font-weight: bold;
  font-style: italic;
}

.dropdownButtons {
  margin: 5px;
}
.map {
  padding-right: 1em;
}
