.container {
  position: relative;
}

.map {
  // background-color: grey;
  height: 72vh;
  width: 100%;
}

.listContainer {
  position: absolute;
  background-color: white;
  height: 30vh;
  top: 70vh;
  overflow: scroll;
  padding: 0.6em;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  transition: top 300ms ease-in, height 400ms, border-radius 200ms;

  &.listUp {
    top: 0;
    height: 100vh;
    border-radius: unset;
  }

  .changeViewButton {
    display: flex;
    justify-content: center;
    > div {
      width: 1em;
      border: 2px solid #dadada;
      border-radius: 0.3em;
    }
  }

  .title {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #ff4000;
  }

  .buttonsAndProps {
    margin-top: 0.7em;
    display: grid;
    grid-template-rows: auto auto;
    gap: 1em;

    .gridIcons {
      display: flex;
      gap: 0.4em;
      justify-content: flex-end;
    }
  }
}

.propList {
  display: grid;
  gap: 0.6em;
}
