.listingPageContainer {
  max-width: 100%;
  background: #f3eedc;
}

.listingPageCol {
  margin-left: 2%;
}

.mapImage {
  height: 50%;
}
.propertiesImages {
  max-height: 100%;
  max-width: 100%;
  padding: 0;
  align-items: center;
}
.propertyInformation {
  margin-bottom: 3%;
  border-bottom: 4px solid #cddde5;
}
.propertyImageCol {
  padding: 0;
}
.propertyCharacteristics {
  margin-left: 2%;
  margin-bottom: 3%;
  font-weight: bold;
  font-style: italic;
}

.dropdownButtons {
  margin: 5px;
}

.mapAndProperties {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 7px;
  height: 80vh;

  .map {
    width: 74vw;
  }

  &.twoColumns {
    .map {
      width: 51vw;
    }
  }

  &.largeCards {
    grid-template-columns: 1fr auto;

    .map {
      height: 85vh;
      width: 60vw;
    }
  }

  .changeSizeButtonContainer {
    display: grid;
    place-items: center;

    > div {
      display: grid;
      gap: 8px;
      grid-template-columns: auto auto;
      align-items: center;
      height: 1em;

      cursor: pointer;
      > div {
        border-radius: 10px;
        height: 20px;
        border-left: 2px solid #c4c4c4;
      }
    }
  }
}

.propList {
  overflow-y: scroll;
  height: 78vh;
  display: grid;
  grid-template-columns: auto;
  grid-gap: 2.3em 2em;
  gap: 2.3em 2em;
  padding: 0.3em;
  transition: grid-template-columns 1s ease-out;
  grid-auto-rows: minmax(min-content, max-content);

  &.expanded {
    grid-template-columns: auto auto;
  }
}

.buttonsAndProps {
  display: grid;
  grid-template-rows: auto auto;
  gap: 1.3em;
  // margin-top: 1em;
  padding: 1em;
}

.gridIcons {
  display: flex;
  gap: 0.5em;
  justify-content: flex-end;

  .gridButton {
    cursor: pointer;
  }

  .gridButtonSelected {
    fill: #ff4000;
  }
}
