@import "src/styles/common";

.titleContainer {
  margin-top: 2em;
  margin-bottom: 2em;
}

.title {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0.5em;
  color: $theme-goldish;
}

.form {
  margin-top: 2em;
}

.column {
  padding: 20px;
}

.inputs {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.inputContainer {
  margin-top: 2em;
}

.emailAndBirthday {
  margin-top: 90px;
}

.password {
  margin-top: 110px;
}

.gridButton {
  margin-top: 2em;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-end;
}

.buttonContainer {
  margin-right: 13em;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 15em;
  padding: 1em;
}
