@import "src/styles/common";

.login_container {
  padding: 1.5em;
  text-align: center;
}

.titleContainer {
  margin-top: 2em;
  width: 100%;
  color: $theme-orange;
  text-align: center;
  margin-bottom: 1.5em;
}

.leftContainer {
  justify-content: left;
  align-items: center;
  margin-right: 50px;
  width: 45%;
}

.rightContainer {
  align-items: center;
  margin-left: 50px;
  width: 45%;
  vertical-align: middle;
  text-align: center;
  display: flex;
  justify-content: center;
  position: relative;
}

.insideRightContainer {
  width: 100%;
}

.highlighter {
  height: 4px;
  width: 100%;
  border: 1px solid $theme-orange;
  background-color: $theme-orange;
  border-radius: 30px;
}

.buttonContainer button {
  width: 100%;
  background-color: $theme-orange;
  color: #ffffff;
  height: 50px;
  margin-bottom: 0.5em;
}

.internalButtonOptions {
  margin: 5px 25px;
}

.link {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.buttonContainer {
  margin-top: 1em;
}

.button button {
  font-size: xxx-large;
}

.buttonOptions {
  display: flex;
  flex-direction: row;
  background-color: #e7e6e6;
  justify-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-bottom: 1.5em;
}

.form {
  display: flex;
  flex-direction: row;
  margin-top: 1em;
}

.input1 {
  margin-top: 2em;
  width: 100%;
}

.input2 {
  margin-top: 0.8em;
  width: 100%;
}

.mainTitle {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0.5em;
  color: $theme-goldish;
}

.column {
  padding: 20px;
  width: 400px;
}

.inputs {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 30px;
}

.inputContainer {
  margin-bottom: 1em;
  margin-top: 0.5em;
}

.buttonSection {
  margin-right: 13em;
  margin-top: 1em;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
