@import "src/styles/common";

.titleContainer {
  margin-top: 2em;
  margin-bottom: 2em;
}

.mainTitle {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0.5em;
  color: $theme-goldish;
}

.form {
  margin-top: 2em;
}

.column {
  padding: 20px;
  width: 400px;
}

.rightColumn {
  //margin-top: 30px;
}

.inputs {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 30px;
}

.inputContainer {
  margin-top: 1em;
}

.emailAndBirthdate {
  margin-top: 30px;
}

.password {
  margin-top: 95px;
}

.buttonSection {
  margin-right: 13em;
  margin-top: 1em;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.gridButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 1.4em;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 13em;
  //padding: 1em;
}
