@import "src/styles/common";

.contactSection {
  padding: 1em 1em;

  .contactFormTitle {
    color: #ff701f;
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1em;
  }

  .contactForm {
    width: 100%;

    .submitButton {
      margin-top: 2em;
    }
  }
}

.contact_form_textfield_titles {
  color: black;
}

.view_property_container {
  margin: 1.5em 1em;
}

.view_property_title_price {
  margin-top: 2.5em;
  margin-bottom: 1em;
}

.view_property_price {
  color: #ff701f;
  font-weight: bold;
  font-size: 1.2em;
}

.view_property_expenses {
  color: #ff701f;
}

.view_property_info {
  color: #757575;
  margin-bottom: 0.5em;
  text-align: center;
  font-size: 1.1em;
}

.photos_container {
  margin-bottom: 1.5em;
}

.view_property_property_comment {
  margin-left: 0.75em;
  margin-right: 0.75em;
}

.view_property_address_title {
  text-transform: capitalize;
}

.view_property_characteristics {
  margin-right: 0.75em;
  font-size: 0.8em;
}

.thirdSection {
  //margin-top: 20px;
  .tabSection {
    margin: 40px 15px 0;

    .tabBodyItem {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-weight: 300;

      .bulletPoint {
        $size: 8px;
        width: $size;
        height: $size;
        border: 1px solid #ff701f;
        background-color: rgba(209, 167, 125, 0.14);
        border-radius: 50%;
        margin-right: 10px;
      }
    }
  }
}

.sectionTitle {
  font-size: 1.7em;
  font-weight: 400;
  color: #124455;
}

.tabsBarContainerAdditional {
  justify-content: flex-start;
  gap: 25px;
  margin-bottom: 1em;
}
