@import "src/styles/common";

.contactSection {
  padding: 1.5em 0.5em;

  .contactFormTitle {
    color: #ff701f;
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
    margin-bottom: 1.5em;
  }

  .contactForm {
    width: 100%;

    .submitButton {
      margin-top: 2em;
    }
  }
}

.contact_form_textfield_titles {
  color: black;
}

.view_property_container {
  margin: 3em 1em;
}

.view_property_title_price {
  margin-top: 2.5em;
  margin-bottom: 1em;
}

.view_property_price {
  color: #ff701f;
  font-weight: bold;
  font-size: 1.2em;
}

.view_property_expenses {
  color: #ff701f;
}

.view_property_info {
  color: #757575;
  margin-bottom: 0.5em;
  text-align: center;
  font-size: 1.1em;
}

.photos_container {
  margin-bottom: 1.5em;
}

.view_property_property_comment {
  margin-left: 1em;
  margin-right: 1em;
}

.view_property_address_title {
  text-transform: capitalize;
}

.view_property_characteristics {
  //margin-right: 0.6em;
  font-size: 0.85em;
}

.sectionTitle {
  font-size: 1.35em;
  font-weight: 400;
  margin-top: 1em;
  margin-left: 0.25em;
}

.thirdSection {
  //margin-top: 20px;
  .tabSection {
    margin: 2em 1em 0;

    .tabBodyItem {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-weight: 300;

      .bulletPoint {
        $size: 8px;
        width: $size;
        height: $size;
        //border: 1px solid $theme-goldish;
        background-color: #ff701f;
        border-radius: 50%;
        margin-right: 10px;
      }
    }
  }
}

.addressSection {
  text-transform: capitalize;
  .addressItemsSection {
    margin: 0.4em 15px 0;
    display: flex;
    flex-direction: row;
    text-transform: capitalize;

    tr {
      height: 40px;
    }

    td h6 {
      //font-weight: 400;
      margin-bottom: 0;
    }

    tr > td:first-child {
      padding-right: 3em;
    }
  }
}

.address_value {
  font-size: 1em;
  color: rgba(78, 69, 69, 0.8);
}

.tabsBarContainerAdditional {
  justify-content: flex-start;
  gap: 2em;
  margin-bottom: 1em;
}

.characteristicsItemsContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-height: 400px;
  justify-items: start;
  align-content: flex-start;
  font-weight: bold;

  & > * {
    padding: 6px 4px 4px;
    margin-right: 1.5em;
    font-size: 0.9em;
    color: #484141;
  }
}

.characteristics_names {
  font-weight: 550;
}
