@import "src/styles/common";

.formContainer {
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 4em;
}

.title {
  margin-bottom: 3em;
}

.price {
  margin-right: 4em;
  width: 46%;
}

.expensas {
  width: 46%;
}
.tipodecasa {
  margin-top: 3em;
}
.location {
  margin-top: 3em;
}
.pais {
  margin-right: 1em;
  margin-bottom: 2em;
}

.formTitle {
  margin-bottom: 2em;
}
