.checkContainer {
  display: grid;
  //grid-column-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  //padding: 10px;
  justify-items: start;

  & > * {
    padding: 8px;
    font-size: 1em;
    margin-left: 10px;
  }
}

.constructionContainer {
  margin-top: 20px;
}
.optional_info_container {
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 2em;
  margin: 0 7%;
  background: rgba(196, 196, 196, 0.1);
}

.optional_info_container h3 {
  color: #333333;
  margin-bottom: 1em;
  //color:black;
}

.optional_info_services {
  //margin-right: 5em;
}
