@import "src/styles/common";

.container {
  border: 1px solid $theme-dark-blue;
  padding: 30px;
  border-radius: 30px;
  height: 200px;
}

.comingSoon {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}