$theme-light-blue: #cddde5;
$theme-dark-blue: #80979c;
$theme-darker-blue: #15536c;
$theme-goldish: #d0a77d;
$theme-light-yellow: #f3eedc;

$theme-orange: #ff701f;

$theme-colors: (
  "beau-blue": #cddde5,
  "pewter-blue": #80979c,
  "deep-space-sparkle": #4a636c,
  "camel": #d0a77d,
  "eggshell": #f3eedc,
);
