.OptionsFilters {
  background: #cddde5;
  padding: 0.5%;
  align-items: center;
}

.searchBar {
  background: white;
  padding-left: 0.5%;
  padding-right: 0.2%;
  border-radius: 5px;
}

.filtersButton {
  background: white;
  margin-left: 1.5rem;
  border: 1px #4a636c solid;
  padding-left: 0.7em;
  padding-right: 0.7em;
  text-transform: none;
}

.selectSale {
  background: white;
  margin-left: 1.5rem;
  border: 1px #4a636c solid;
  padding-left: 0.7em;
  padding-right: 0.7em;
  text-transform: none;
}

.filtersButton:hover {
  background: #f2f2f2;
}

.sqtMtsPopover {
  padding: 2%;
  width: 300px;
}

.price {
  padding: 4%;
}

.price input {
  width: 46%;
  border-radius: 0.1em;
}

.priceMinInp {
  margin-right: 3%;
  width: 46%;
}

.priceMaxInp {
  margin-left: 3%;
  width: 46%;
  height: 20%;
}

.roomsBathsButtons button {
  border: 1px solid black;
  max-width: 1em;
}
.roomsBathsButtons {
  padding: 4%;
  width: 17.7em;
}
.popoversTitles {
  padding-left: 4%;
  padding-top: 2%;
  font-size: 0.8em;
}
