.OptionsFilters {
  background: #cddde5;
  padding: 0.5%;
  align-items: center;
}

.searchBar{
  background: white;
  padding-left: 0.5%;
  padding-right: 0.2%;
  border-radius: 5px;
}

.filtersButton{
  background: white;
  margin-left: 1.5rem;
  border: 1px #4a636c solid;
  padding-left: 0.7em;
  padding-right: 0.7em;
  text-transform: none;
}

.selectSale{
  background: white;
  margin-left: 1.5rem;
  border: 1px #4a636c solid;
  padding-left: 0.7em;
  padding-right: 0.7em;
  text-transform: none;
}

.filtersButton:hover{
 background: #f2f2f2;
}

.sqtMtsPopover{
  padding: 2%;
  width: 300px;
}

.price {
  padding: 2%;
}

.price input{
  width: 20%;
}



