.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // height: 750px;
  width: 100%;
}

.app::before {
  content: "";
  background-image: url("../img/backgroundMobile.png");
  background-repeat: no-repeat;
  background-position: 125% 5%;
  background-origin: content-box;
  background-size: 50%;
  opacity: 0.45;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

//.app:before {
//  background-repeat: no-repeat;
//  background-position: 125% 35%;
//  background-origin: content-box;
//  background-image: url("../img/backgroundMobile.png");
//  background-size: 50%;
//  opacity: 0.45;
//}

.title {
  // width: 100%;
  font-size: 3.5em;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  color: #2d557a;
}

.subtitle {
  font-size: 1em;
  font-weight: bold;
  color: #ff701f;
  // text-align: end;
  // width: 80%;
}

.header {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  margin-left: 2em;
}

.texts {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  // width: 100%;
}

.left {
  // width: 40%;
  // justify-content: left;
  // align-items: center;
  // margin-right: 50px;
}

.right {
  width: 65%;
  align-items: center;
  // margin-left: 50px;
  vertical-align: middle;
  text-align: center;
  display: flex;
  justify-content: center;
}

.searchOutside {
  padding: 0 1em;
  margin-top: 1em;
  // margin-top: 20px;
  width: 100%;
  // margin-left: 100px;
  // border-radius: 10px;
  // background-color: rgba(231, 227, 221, 0.67);
  // padding: 20px;
}

.searchAutocomplete {
  // width: 80%;
  // width: 14em;
  background-color: #ffffff;
}
.search {
  font-size: 1em;
}

.description {
  margin-top: 1em;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  color: #757575;

  padding: 0 1em;
  width: 80%;
}
