.textContainer {
  margin-top: 30px;
}
.additional_container {
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 2em;
  margin: 0 7%;
  background: rgba(211, 211, 211, 0.25);
}

.additional_title {
  margin-bottom: 1.5em;
}
