.titleContainer {
  margin-bottom: 30px;
}

.button {
  margin-top: 25px;
  background-color: white;
  border: unset;
  border-radius: 20px;
  border: 1px solid black;
}

.cardsContainer {
  margin-top: 15px;
}

.card {
  display: flex;
  margin-bottom: 10px;
  border-radius: 20px;
  flex-direction: row;
}

.cardBody {
  padding: 14px;
}

.deleteButtonContainer {
  font-size: 20px;
  height: auto;
  width: 40px;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: center;

  & svg {
    color: darkred;
    cursor: pointer;
  }
}

.open_house_container {
  padding-left: 4em;
}
