.OptionsFilters {
  display: flex;
  overflow-x: scroll;
  gap: 1em;
  // background: #cddde5;
  padding: 0.5%;
  align-items: stretch;

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.filtersButton {
  // background: white;
  margin-left: 1.5rem;
  border: 1px #4a636c solid;
  padding-left: 0.7em;
  padding-right: 0.7em;
  text-transform: none;
}

.selectSale {
  // background: white;
  margin-left: 1.5rem;
  border: 1px #4a636c solid;
  padding-left: 0.7em;
  padding-right: 0.7em;
  text-transform: none;
}

.filtersButton:hover {
  background: #f2f2f2;
}

.sqtMtsPopover {
  padding: 2%;
  width: 300px;
}

.price {
  padding: 4%;
}

.price input {
  width: 46%;
  border-radius: 0.1em;
}

.priceMinInp {
  margin-right: 3%;
  width: 46%;
}

.priceMaxInp {
  margin-left: 3%;
  width: 46%;
  height: 20%;
}

.roomsBathsButtons button {
  border: 1px solid black;
  max-width: 1em;
}
.roomsBathsButtons {
  padding: 4%;
  width: 17.7em;
}
.popoversTitles {
  padding-left: 4%;
  padding-top: 2%;
  font-size: 0.8em;
}

.conditionHover:hover {
  cursor: pointer;
  color: grey;
}
