@import "../../styles/common";

.mainTitle {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0.5em;
  color: #ff4000;
}

.stepBarContainer {
  display: flex;
  width: auto;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 5em;
  margin-left: 7%;
  margin-right: 7%;
}

.stepBarItem {
  display: flex;
  flex-direction: column;
  height: 35px;
  align-items: center;
  justify-content: space-between;
}

.highlighter {
  height: 4px;
  width: 80%;
  border: 1px solid $theme-light-blue;
  border-radius: 30px;
}

.active {
  border-color: #ff4000;
  background: #ff4000;
}

.cursorPointer {
  cursor: pointer;
}
