.user_profile_container {
  padding: 1em;
}

.user_profile_title {
  //border-bottom: 1px solid rgba(128, 128, 128, 0.5);
  color: #ff701f;
  font-weight: bold;
}

.user_profile_buttons {
  //border-bottom: 1px solid rgba(128, 128, 128, 0.5);
  margin-top: 0.5em;
}
.user_profile_arrow {
  color: #ff4000;
  margin-top: 5px;
}

.user_profile_icons {
  margin-right: 0.5em;
}
