@import "src/styles/common";
$theme-goldish-changed: #cd863d;

.navbar_container {
  background: #297278;
  height: 3.5em;
  padding: 0 3%;
}

.navbar_links {
  color: white;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  line-height: 3.5em;
  font-weight: bold;
  &:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.49);
  }
}

.navbar_title {
  position: center;
}

.navbar_logo {
  text-align: center;
  vertical-align: middle;
  line-height: 3.5em;
}

.navbar_user_dropdown {
  text-align: right;
  vertical-align: middle;
  line-height: 3.5em;
}

.navbar_user_dropdown_button {
  background: #297278;
  color: white;
  border: none;
  font-weight: bold;
  text-transform: none;
  &:hover {
    background: #297278;
  }
}

.navbar_user_dropdown_icon {
  margin-left: 0.25em;
  color: white;
}

.myAccountDropdownAccount {
  text-decoration: none;
  color: black;

  &:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
  }
}
