.navBarContainer {
  background: #80979c;
  height: 4em;
  text-align: center;
}
.navBarLogo{
  margin-top: 1em;
  font-weight: bold;
}

.navBarOptions{
  margin-top: 1em;
}

.navBarProfile{
  height: 3em;
  width: 3em;
  margin-top: 0.5em;
}