@import "src/styles/common";

.footer_container {
  color: white;
  background: #297278;
  padding: 2.75em 15% 2em;
  margin-top: 4.4em;
}

.footer_information {
  font-size: 1.1em;
}

.footer_navigation_title {
  margin-bottom: 0.5em;
}

.footer_navigation_links {
  margin-bottom: 0.5em;
  font-size: 1.1em;
  color: white;
}

.footer_navigation_links_style {
  color: white;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.68);
  }
}

.footer_about_us {
  margin-top: 3em;
  font-size: 1.1em;
}

.about_us_element {
  margin-bottom: 10px;
}
