@import "src/styles/common";

.footerContainer {
  padding: 1em 5%;
  border-top: 3px solid $theme-goldish;
}

.footerContainer h4 {
  font-weight: bold;
}

.footerUbicar {
  padding-right: 5em;
}

.footerUbicar p {
  font-size: 1.2em;
}

.footerContact p {
  font-size: 1.2em;
  margin-bottom: 1.5em;
}

.footerOptionsATag {
  margin-bottom: 0.5em;
  color: black;
  text-decoration: none;
}

.footerOptionsATag:hover {
  text-decoration: none;
  color: $theme-goldish;
}

.footerOptions {
  margin-left: 2em;
}

.footerOptionsGrid {
  margin-bottom: 0.5em;
}

.socialMediaLinks img {
  height: 2em;
  width: 2em;
}

.socialMediaText {
  margin-bottom: 0.5em;
}

.footer_container {
  color: white;
  background: #297278;
  padding: 1.5em 15%;
  position: absolute;
  bottom: 0;
}

.footer_information {
}

.footer_navigation_title {
  margin-bottom: 0.5em;
}

.footer_navigation_links {
  margin-bottom: 0.5em;
  color: white;
}

.footer_navigation_links_style {
  color: white;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.68);
  }
}

.footer_about_us {
  margin-top: 2em;
}
