@import "../../../styles/common.scss";

.container {
  display: grid;
  place-content: center;
  flex-grow: 1;
}

.spinner {
  font-size: 4em;
  color: $theme-goldish;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}
