.personalDataMainDiv {
  margin-left: 2%;
  margin-top: 2%;
}
.properties {
  margin-left: 2%;
}

.personalDataTitle {
  border-bottom: 1px solid black;
}
.personalDataTitle p {
  margin-bottom: 1em;
}
.personalDataInformation {
  margin-top: 1em;
}
