.propertiesImages {
  height: 100%;
  width: 95%;
}

.propertyInformation {
  margin-bottom: 3%;
  margin-top: 3%;
  border: 3px solid #d9d9d9;
  background: #F3EEDC;
  padding: 0.5em;
}

p {
  padding: 0;
  margin: 0;
}

.propertyTitle{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: "...";
  font-weight: bold;
}

.propertyStreetNumber{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: "...";
  font-weight: bold;
  font-size: 1em;
}

.propertyTownCity{
  font-size: 0.9em;
}

.propertySpecifications{
  margin-bottom: 1%;
}

.propertyPriceCondition{
  font-weight: bold;
}

//.propertyStreet{
//  font-weight: bold;
//  font-size: 0.9em;
//}
//.propertyTownCity{
//  font-size: 0.8em;
//}
//.houseInformation{
//  font-size: 0.9em;
//  margin-bottom: 0.5em;
//}
//.housePriceCondition{
//  margin-bottom: 0.5em;
//  font-size: 1.1em;
//  font-weight: bold;
//}
//.houseTitle {
//  margin: 0;
//  font-size: 0.9em;
//  font-weight: bold;

//}

//.houseStreetNumber{
//  white-space: nowrap;
//  overflow: hidden;
//  text-overflow: "...";
//}
//
//.titleOverflow{
//  white-space: nowrap;
//  overflow: hidden;
//  text-overflow: "...";
//}
//
//.houseStreetNumberOverflow{
//  white-space: nowrap;
//  overflow: hidden;
//  text-overflow: ellipsis;
//}
