.propertiesImages {
  height: 100%;
  width: 95%;
}

.propertyList{
  padding-top: 0.8em;
  padding-right: 0.8em;
}

.propertyStreet{
  font-weight: bold;
}
.propertyTownCity{
  font-size: 0.8em;
}
.houseInformation{
  font-size: 0.9em;
  margin-bottom: 0.5em;
}
.housePriceCondition{
  margin-bottom: 0.5em;
  font-size: 1.1em;
  font-weight: bold;
}
.houseTitle{
  margin-bottom: 0.5em;
  font-weight: bold;
}
.propertyInformation {
  margin-bottom: 3%;
  border: 3px solid #d9d9d9;
  background: #F3EEDC;
  padding: 0.5em;
}

