@import "src/styles/common";

.container {
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 2em;
  margin: 0 7%;
  background: rgba(211, 211, 211, 0.25);
}

.comingSoon {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.buttons {
  margin-top: 60px;
}

.facts {
  margin: 20px 10px 0;
  display: flex;
  flex-wrap: wrap;

  & > * {
    margin-right: 40px;
    margin-bottom: 20px;
  }

  .factContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    transition: transform 0.5s;

    .factIcon {
      > img {
        height: 20px;
      }
    }
  }
}

.property_view_confirmation {
  border-radius: 1em;
  background-color: white;
  padding: 2em;
  margin-left: 5%;
}
