.stepButtonsContainer {
  margin-top: 1em;
  width: 100%;
  //display: flex;
  //flex-direction: row;
  //justify-content: flex-end;
}

.stepButtons {
  //display: flex;
  //justify-content: space-evenly;
  //width: 300px;
  float: right;
  margin-bottom: 5vh;
}

.customButton {
  margin-right: 30px;
}
