
.firebaseui-container {
  background: rgba(0, 0, 0, 0.05);
  margin-bottom: 15px;
  min-height: 150px;
  padding-top: 10px;
  border-radius: 20px;
  box-shadow: none;
  width: 100%;
  max-width: unset;

  * {
    max-width: unset;
  }

  .firebaseui-card-content {
    padding: unset;
  }

  .firebaseui-list-item {
    max-width: unset;
    width: 100%;
  }

  .firebaseui-idp-button {
    max-width: unset;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: unset;
    border: 1px solid black;
    border-radius: 20px;

    &:hover {
      background-color: rgba(243, 243, 243, 0.5) !important;
      box-shadow: 0 4px 11px 5px rgba(0, 0, 0, 0.1);
    }
  }


  form {
    width: 100%;
  }
}

.firebaseui-container.firebaseui-page-provider-sign-in {
  background: transparent;
  box-shadow: none;
  min-height: 0;
  margin-bottom: 0;
  padding-top: 0;
  width: 100%;

}

.firebaseui-container.firebaseui-id-page-callback {
  background: transparent;
  box-shadow: none;
  margin-top: 40px;
  height: 84px;
  min-height: 0;
  margin-bottom: 0;
  padding-top: 0;
  width: 100%;
}

.firebaseui-card-header {
  display: none;
}

.firebaseui-subtitle, .firebaseui-text {
  color: rgba(255, 255, 255, 0.87);
}

.firebaseui-form-actions .mdl-button--raised.mdl-button--colored.firebaseui-button {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  width: 100%;
}


.firebaseui-id-dismiss-info-bar {
  display: block;
}

.firebaseui-info-bar {
  border: 0;
  border-radius: 10px;
  left: 5%;
  right: 5%;
  top: 10%;
  bottom: 10%;
}


