@import "src/styles/common";


.titleContainer {
  margin-top: 2em;
}

.title {
  margin-bottom: 1em;
  margin-left: 0.5em;
  color: $theme-goldish;
}

.inputs {
  margin-top: 10em;
}

.inputContainer {
  margin-top: 2em;
}

.buttonContainer {
  margin-top: 3em;
}